﻿@model IEnumerable<HeritageAllianceApp.Models.Cemetery>

@{
    ViewBag.Title = "Cemetery - Admin";
    ViewBag.PageHead = "Cemetery - Admin.";
    ViewBag.PageHeadSub = "Choose a cemetery below.";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-info" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CemeteryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street2)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.GPSCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEstablished)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CemeteryName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street2)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.GPSCoordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEstablished)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>*@
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CemeteryId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Edit", "Edit", new { id = item.CemeteryId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CemeteryId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Admin Panel", "Admin", "Home", null, new { @class = "btn btn-default" })
</p>
