﻿@model HeritageAllianceApp.Models.Cemetery

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cemetery</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CemeteryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CemeteryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GPSCoordinates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GPSCoordinates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEstablished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEstablished)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.State)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input class="btn btn-primary" type="submit" value="Delete" style="float:left" />
        @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-default" })
    </p>
}
