﻿@model HeritageAllianceApp.Models.Cemetery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cemetery</legend>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.CemeteryName)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.CemeteryName)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.Street1)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Street1)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.Street2)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Street2)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.GPSCoordinates)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.GPSCoordinates)
        </div>
    </div>
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.DateEstablished)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.DateEstablished)
        </div>
    </div>     

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.CemeteryNotes)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.CemeteryNotes)
        </div>
    </div>
        
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CemeteryId }, new { @class = "btn btn-warning" })*@
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
