﻿@model HeritageAllianceApp.Models.Cemetery

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cemetery</legend>

        @Html.HiddenFor(model => model.CemeteryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CemeteryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CemeteryName)
            @Html.ValidationMessageFor(model => model.CemeteryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street1)
            @Html.ValidationMessageFor(model => model.Street1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street2)
            @Html.ValidationMessageFor(model => model.Street2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GPSCoordinates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GPSCoordinates)
            @Html.ValidationMessageFor(model => model.GPSCoordinates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateEstablished)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEstablished)
            @Html.ValidationMessageFor(model => model.DateEstablished)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CemeteryNotes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CemeteryNotes)
            @Html.ValidationMessageFor(model => model.CemeteryNotes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationId, "Location")
        </div>
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("LocationId", (SelectList)ViewBag.LocationId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>

        <p>
            <input class="btn btn-primary" type="submit" value="Save" style="float:left" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
