﻿@model ICollection<HeritageAllianceApp.Models.Cemetery>

@{
    ViewBag.Title = "Cemetery List";
    ViewBag.PageHead = ViewBag.City + ", " + ViewBag.State +".";
    ViewBag.PageHeadSub = "Select a cemetery to view the markers listing for that cemetery.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here are the cemeteries in @ViewBag.City, @ViewBag.State</h1>
                <br />
                <h2>Select a cemetery to view the markers listing for that cemetery.</h2>
            </hgroup>
        </div>
    </section>
}*@

<table class="table table-striped">
    @{
        foreach (var cem in Model)
        {
            string linkText = (cem.CemeteryName);
            <tr>
                <td>
                    @Html.ActionLink(linkText, "ListDeceased", new { id = cem.CemeteryId })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = cem.CemeteryId }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Back to City List", "CityList", "Location", null, new { @class = "btn btn-default" })