﻿@model IEnumerable<HeritageAllianceApp.Models.Deceased>

@{
    ViewBag.Title = "Marker Listing";
    ViewBag.PageHead = "Marker listing for " + ViewBag.CemeteryName + ".";
    ViewBag.PageHeadSub = "Click the 'Details' link next to a listing for more information.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here is the marker listing for @ViewBag.CemeteryName</h1>
                <br />
                <h2>Click the 'Details' link next to a listing for more information.</h2>
            </hgroup>
        </div>
    </section>
}*@

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationWithinRow)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationWithinRow)
        </td>        
        <td>            
            @Html.ActionLink("Details", "Details", "Deceased", new { id = item.DeceasedId }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Cemeteries", "Index", "Cemetery", null, new { @class = "btn btn-default" })
</p>

