﻿@model IEnumerable<HeritageAllianceApp.Models.Location>

@{
    ViewBag.Title = "Location - Admin";
    ViewBag.PageHead = "Location - Admin.";
    ViewBag.PageHeadSub = "Choose a location below.";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id = item.LocationId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Back to Admin Panel", "Admin", "Home", null, new { @class = "btn btn-default" })
</p>
