﻿@model ICollection<HeritageAllianceApp.Models.LocationHandler>

@{
    ViewBag.Title = "City List";
    ViewBag.PageHead = "City List.";
    ViewBag.PageHeadSub = "Select a city to view all cemeteries in that city.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here is a list of cities.</h1>
                <br />
                <h2>Select a city to view all cemeteries in that city.</h2>
            </hgroup>
        </div>
    </section>
}*@

<ul class="list-group">
    @{
        foreach (var loc in Model)
        {
            string linkText = (loc.City + ", " + loc.State);
            <li class="list-group-item">@Html.ActionLink(linkText, "ListByCity", "Cemetery", new { city = loc.City, state = loc.State }, new { })</li>
        }
    }
</ul>

@Html.ActionLink("Back to Location Menu", "Index", null, new { @class = "btn btn-default" })