﻿@model ICollection<HeritageAllianceApp.Models.LocationHandler>

@{
    ViewBag.Title = "County List";
    ViewBag.PageHead = "County List.";
    ViewBag.PageHeadSub = "Select a county to view all cemeteries in that county.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here is a list of counties.</h1>
                <br />
                <h2>Select a county to view all cemeteries in that county.</h2>
            </hgroup>
        </div>
    </section>
}*@

<ul class="list-group">
    @{
        foreach (var loc in Model)
        {
            string linkText = (loc.County + ", " + loc.State);
            <li class="list-group-item">@Html.ActionLink(linkText, "ListByCounty", "Cemetery", new { county = loc.County, state = loc.State }, new { })</li>
        }
    }
</ul>

@Html.ActionLink("Back to Location Menu", "Index", null, new { @class = "btn btn-default" })