﻿@model HeritageAllianceApp.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.State)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.State)
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.County)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.County)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.City)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.Zip)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Zip)
        </div>
    </div>    
</fieldset>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.LocationId }, new { @class = "btn btn-warning" })*@
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
