﻿@model IEnumerable<HeritageAllianceApp.Models.Location>

@{
    ViewBag.Title = "Locations";
    ViewBag.PageHead = "Browse by location.";
    ViewBag.PageHeadSub = "Select an option from the menu below.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Browse Cemeteries by Location.</h1>
                <br />
                <h2>Choose one of the following options.</h2>
            </hgroup>
        </div>
    </section>
}*@

<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("City List", "CityList")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("County List", "CountyList")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("Cemeteries Map", "MapList")
    </li>
</ul>

@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
