﻿@{
    ViewBag.Title = "About";
    ViewBag.PageHead = "About.";
    ViewBag.PageHeadSub = "Here is some information about this site.";
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">The Heritage Alliance of Northeast Tennessee & Southwest Virginia</h3>
        </div>
        <div class="panel-body">
            <p>
                The Heritage Alliance is dedicated to the preservation of the architectural, historical, 
                and cultural heritage of our region and to providing educational experiences related to 
                history and heritage for a wide range of audiences.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">The Application</h3>
        </div>
        <div class="panel-body">
            <p>
                This application was developed using a C# MVC 4 Web Application and Entity Framework in 
                Microsoft Visual Studio 2013.  It was based on 'Code First' design principles.  The styling
                was done using Bootstrap.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">The Project Team</h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>William Bailey</dt>
                <dd style="margin-left:20px">Project Manager</dd>
                <dd style="margin-left:20px">Database Design</dd>
                <dt>Justin Whitaker</dt>
                <dd style="margin-left:20px">Database Implementation</dd>
                <dd style="margin-left:20px">Application Design</dd>
                <dt>Josh Bowers</dt>
                <dd style="margin-left:20px">Application Implementation</dd>
            </dl>
        </div>
    </div>

    

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>    
</aside>*@