﻿@{
    ViewBag.Title = "Admin Panel";
    ViewBag.PageHead = "Admin Panel.";
    ViewBag.PageHeadSub = "Choose a section to administer from the list below.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Admin Panel</h1>
                <br />
                <h2>Welcome to the Admin Panel.</h2>
                <h2>Choose a section to administer from the list below.</h2>
            </hgroup>
        </div>
    </section>
}*@

<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("Locations", "Admin", "Location", null, null)
    </li>
    <li class="list-group-item">
        @Html.ActionLink("Cemeteries", "Admin", "Cemetery", null, null)
    </li>
    <li class="list-group-item">
        @Html.ActionLink("Deceased", "Admin", "Deceased", null, null)
    </li>
</ul>

