﻿@{
    ViewBag.Title = "Contact";
    ViewBag.PageHead = "Contact Us.";
    ViewBag.PageHeadSub = "We love getting feedback.";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Phone</h3>
    </div>
    <div class="panel-body">
        <h5>
            Main:
        </h5>
        <p class="col-xs-offset-1">
            423.753.9580
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Email</h3>
    </div>
    <div class="panel-body">
        <h5>
            Heritage Alliance:
        </h5>
        <p class="col-xs-offset-1">
            <a href="mailto:info@heritageall.org">info@heritageall.org</a>
        </p>
        <h5>
            Webmaster:
        </h5>
        <p class="col-xs-offset-1">
            <a href="mailto:zjab44@giltmail.etsu.edu">zjab44@giltmail.etsu.edu</a>
        </p>
        <h5>
            Complaints:
        </h5>
        <p class="col-xs-offset-1">
            <a href="mailto:j.jarmin@notreally.com">j.jarmin@notreally.com</a>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
    </div>
    <div class="panel-body">
        <p class="col-xs-offset-1">
            212 East Sabin Drive<br />
            Jonesborough, TN 37659
        </p>
    </div>
</div>