﻿@{
    ViewBag.Title = "Welcome";
    ViewBag.PageHead = "Welcome.";
    ViewBag.PageHeadSub = "Welcome to the Heritage Alliance cemetery database.";
}

<div class="panel panel-default">
    @*<div class="panel-heading">Welcome.</div>*@
    <div class="panel-body">        
        <p>This site contains a database listing of cemetery enumerations for our region.</p>
        <p></p>
        <p>
            Select an option from the navigation bar above to view the cemeteries recorded in our database.  
            You can also search for a cemetery or the record of a deceased individual through the 'Advanced Search' feature.
        </p>
    </div>
</div>
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
                <br />
                <h2>This site contains a database listing of cemetery enumerations for our region.</h2>
            </hgroup>            
        </div>
    </section>
}*@
@*<h3>To locate a cemetery choose one of the following:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("By Name", "Index", "Cemetery")</h5>
        This will display a listing of all cemeteries in the database by their name.               
    </li>

    <li class="two">
        <h5>@Html.ActionLink("By Location", "Index", "Location")</h5>
        This will display a listing of all cemeteries in the database by their location.
    </li>

    <li class="three">
        <h5>@Html.ActionLink("By Search", "Index", "Search")</h5>
        This will display a search engine.
    </li>
</ol>

<p>
    @Html.ActionLink("Admin Panel", "Admin")
</p>*@
