﻿@model HeritageAllianceApp.Models.BiographicalInformation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BiographicalInformation</legend>

        @Html.HiddenFor(model => model.BiographicalInformationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.BiographicalInformationType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BiographicalInformationType)
            @Html.ValidationMessageFor(model => model.BiographicalInformationType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BiographicalInfoDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BiographicalInfoDescription)
            @Html.ValidationMessageFor(model => model.BiographicalInfoDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateEntered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEntered)
            @Html.ValidationMessageFor(model => model.DateEntered)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnteredBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnteredBy)
            @Html.ValidationMessageFor(model => model.EnteredBy)
        </div>

        <div class="editor-label float-left">
            <p>@Html.LabelFor(model => model.DeceasedId, "Deceased")</p>
        </div>
        <br />
        <br />
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("DeceasedId", (SelectList)ViewBag.DeceasedId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.DeceasedId)
        </div>
        <br />
        <br />
        <br />
        <div class="editor-label float-left">
            <p>@Html.LabelFor(model => model.FamilyMemberId, "FamilyMember")</p>
        </div>
        <br />
        <br />
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("FamilyMemberId", (SelectList)ViewBag.FamilyMemberId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.FamilyMemberId)
        </div>
                
        <p>
            <input type="hidden" value="@ViewBag.did" id="did" />
            <input class="btn btn-primary" type="submit" value="Save" style="float:left" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Deceased Details", "DetailsAdmin", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
