﻿@model IEnumerable<HeritageAllianceApp.Models.Deceased>

@{
    ViewBag.Title = "Admin - Deceased";
    ViewBag.PageHead = "Admin - Deceased.";
    ViewBag.PageHeadSub = "Choose a deceased below.";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>
<p>
    @using (Html.BeginForm("Admin", "Deceased"))
    {
        <p class="col-xs-3">
            @Html.DropDownList("CemeteryList", (SelectList)ViewBag.CemeteryList, new { @class = "form-control"})
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Filter" style="float:left" />
        </p>
    }
</p>        
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationWithinRow)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.StoneDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfBurial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkerSymbols)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CemeteryId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDeath)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationWithinRow)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.StoneDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfBurial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkerSymbols)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CemeteryId)
        </td>*@
        <td>            
            @Html.ActionLink("Details", "DetailsAdmin", new { id = item.DeceasedId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Edit", "Edit", new { id = item.DeceasedId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.DeceasedId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Admin Panel", "Admin", "Home", null, new { @class = "btn btn-default" })
</p>
