﻿@model HeritageAllianceApp.Models.Deceased

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Deceased</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfDeath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfDeath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RowNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RowNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationWithinRow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationWithinRow)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoneDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoneDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeOfBurial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeOfBurial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarkerText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarkerText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarkerSymbols)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarkerSymbols)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cemetery.CemeteryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cemetery.CemeteryName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input class="btn btn-primary" type="submit" value="Delete" style="float:left" />
        @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-default" })
    </p>
}
