﻿@model HeritageAllianceApp.Models.Deceased
@using HeritageAllianceApp.Models
@{ HeritageAllianceAppDb _db = new HeritageAllianceAppDb(); }

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Deceased</legend>
    <table class="table table-borderless">
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td class="display-label">
                @Html.DisplayFor(model => model.MiddleName)
            </td>
            <td class="display-label">
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayFor(model => model.DateOfBirth)
            </td>
            <td class="display-label">
                @Html.DisplayFor(model => model.DateOfDeath)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.LocationWithinRow)
            </th>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.TypeOfBurial)
            </th>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayFor(model => model.RowNumber)
            </td>
            <td class="display-label">
                @Html.DisplayFor(model => model.LocationWithinRow)
            </td>
            <td class="display-label">
                @Html.DisplayFor(model => model.TypeOfBurial)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.StoneDescription)
            </th>
        </tr>
        <tr>
            <td class="display-field">
                @Html.DisplayFor(model => model.StoneDescription)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.MarkerText)
            </th>
        </tr>
        <tr>
            <td class="display-field">
                @Html.DisplayFor(model => model.MarkerText)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                @Html.DisplayNameFor(model => model.MarkerSymbols)
            </th>
        </tr>
        <tr>
            <td class="display-field">
                @Html.DisplayFor(model => model.MarkerSymbols)
            </td>
        </tr>
    </table>
    
    <h2>Deceased Relatives</h2>
    
    @if (ViewBag.Relatives.Count == 0)
    {
        <p>No deceased relatives found in database.</p>
    }
    else
    {
        <table class="table table-borderless">
            <tr>
                <th class="display-label">
                    @Html.DisplayNameFor(Deceased => Deceased.FirstName)
                </th>
                <th class="display-label">
                    @Html.DisplayNameFor(Deceased => Deceased.MiddleName)
                </th>
                <th class="display-label">
                    @Html.DisplayNameFor(Deceased => Deceased.LastName)
                </th>
                <th class="display-label">
                    Relationship
                </th>
                <th class="display-label">
                    Cemetery Name
                </th>
                <th class="display-label">
                </th>
            </tr>
            @foreach (Related rel in ViewBag.Relatives)
            {
                Deceased dec = _db.Deceased.Find(rel.DeceasedRelativeId);
                Cemetery cem = _db.Cemeteries.Find(dec.CemeteryId);
                <tr>
                    <td class="display-field">
                        @Html.DisplayFor(Deceased => dec.FirstName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(Deceased => dec.MiddleName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(Deceased => dec.LastName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(Related => rel.Relationship)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(Cemetery => cem.CemeteryName)
                    </td>
                    <td>
                        @Html.ActionLink("Further Info...", "Details", new { id = dec.DeceasedId }, new { @class = "btn btn-success" })                        
                    </td>
                </tr>
            }
        </table>
    } 
    
    
    <h2>Family Members</h2>
    
    @if (ViewBag.FamilyMembers.Count == 0)
    {
        <p>No family members found in database.</p>
    }
    else
    {
        <table class="table table-borderless">
            <tr>
                <th class="display-label">
                    @Html.DisplayNameFor(FamilyMember => FamilyMember.FirstName)
                </th>
                <th class="display-label">
                    @Html.DisplayNameFor(FamilyMember => FamilyMember.MiddleName)
                </th>
                <th class="display-label">
                    @Html.DisplayNameFor(FamilyMember => FamilyMember.LastName)
                </th>
                <th class="display-label">
                    Relationship
                </th>
                <th class="display-label">
                </th>
            </tr>
            @foreach (FamilyMember fam in ViewBag.FamilyMembers)
            {
                <tr>
                    <td class="display-field">
                        @Html.DisplayFor(FamilyMember => fam.FirstName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(FamilyMember => fam.MiddleName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(FamilyMember => fam.LastName)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(FamilyMember => fam.Relationship)
                    </td>
                    <td>
                        @Html.ActionLink("Further Info...", "Details", "FamilyMember", new { id = fam.FamilyMemberId, did = ViewBag.did }, new { @class = "btn btn-success" })                        
                    </td>
                </tr>
            }
        </table>
    }

    <h2>Records</h2>
    
    @if (ViewBag.Records.Count == 0)
    {
        <p>No records found in database.</p>
    }
    else
    {
        <table class="table table-borderless">
            <tr>
                <th class="display-label">
                    Type
                </th>
                <th class="display-label">
                    Description
                </th>                
                <th class="display-label">
                    External Link
                </th>
                <th class="display-label">
                </th>
            </tr>

            @{ List<RecordLink> rll = ViewBag.RecordLinks; }

            @foreach (Record rec in ViewBag.Records)
            {
                <tr>
                    <td class="display-field">
                        @Html.DisplayFor(Record => rec.RecordType)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(Record => rec.RecordDescription)
                    </td>
                    <td>
                        @{
                RecordLink reclink = null;
                foreach (RecordLink rl in rll)
                {
                    if (rl == null) { continue; }
                    if (rl.RecordId == rec.RecordId)
                    {
                        reclink = rl;
                        <a href="@reclink.URL">@reclink.LinkTo</a>
                    }
                }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Further Info...", "Details", "Record", new { id = rec.RecordId, did = ViewBag.did }, new { @class = "btn btn-success" })                        
                    </td>
                </tr>
            }
        </table>
    }

    <h2>Biographical Information</h2>
    
    @if (ViewBag.BioInformation.Count == 0)
    {
        <p>No biographical information found in database.</p>
    }
    else
    {
        <table class="table table-borderless">
            <tr>
                <th class="display-label">
                    Type
                </th>
                <th class="display-label">
                    Description
                </th>                
                <th class="display-label">
                    External Link
                </th>
                <th class="display-label">
                </th>
            </tr>

            @{ List<InformationLink> ill = ViewBag.InfoLinks; }

            @foreach (BiographicalInformation bio in ViewBag.BioInformation)
            {
                <tr>
                    <td class="display-field">
                        @Html.DisplayFor(BiographicalInformation => bio.BiographicalInformationType)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(BiographicalInformation => bio.BiographicalInfoDescription)
                    </td>
                    <td>
                        @{
                InformationLink infolink = null;
                foreach (InformationLink inl in ill)
                {
                    if (inl == null) { continue; }
                    if (inl.InformationId == bio.BiographicalInformationId)
                    {
                        infolink = inl;
                        <a href="@infolink.URL">@infolink.LinkTo</a>
                    }
                }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Further Info...", "Details", "BiographicalInformation", new { id = bio.BiographicalInformationId, did = ViewBag.did }, new { @class = "btn btn-success" })                       
                    </td>
                </tr>
            }
        </table>
    }

</fieldset>
<p>    
    @Html.ActionLink("Back to Listing", "ListDeceased", "Cemetery", new { id = Model.CemeteryId }, new { @class = "btn btn-default" })
</p>