﻿@model HeritageAllianceApp.Models.Deceased

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Deceased</legend>

        @Html.HiddenFor(model => model.DeceasedId)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfDeath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfDeath)
            @Html.ValidationMessageFor(model => model.DateOfDeath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RowNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RowNumber)
            @Html.ValidationMessageFor(model => model.RowNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationWithinRow)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocationWithinRow)
            @Html.ValidationMessageFor(model => model.LocationWithinRow)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoneDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StoneDescription)
            @Html.ValidationMessageFor(model => model.StoneDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeOfBurial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeOfBurial)
            @Html.ValidationMessageFor(model => model.TypeOfBurial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MarkerText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MarkerText)
            @Html.ValidationMessageFor(model => model.MarkerText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MarkerSymbols)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MarkerSymbols)
            @Html.ValidationMessageFor(model => model.MarkerSymbols)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CemeteryId, "Cemetery")
        </div>
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("CemeteryId", (SelectList)ViewBag.CemeteryId, new { @class = "form-control" })
            </p>            
            @Html.ValidationMessageFor(model => model.CemeteryId)
        </div>
        <p>
            <input class="btn btn-primary" type="submit" value="Save" style="float:left" />
        </p>
    </fieldset>
}

<div>
    <br />
    @Html.ActionLink("Back to Deceased Details", "DetailsAdmin", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
