﻿@model IEnumerable<HeritageAllianceApp.Models.Cemetery>

@{
    ViewBag.Title = "Cemeteries";
    ViewBag.PageHead = "Search Results.";
    ViewBag.PageHeadSub = "Choose a cemetery below.";
}

<table class ="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CemeteryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street1)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPSCoordinates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEstablished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CemeteryNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CemeteryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street1)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Street2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSCoordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEstablished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CemeteryNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>*@
            <td>
                @Html.ActionLink("Details", "Details", "Cemetery", new { id = item.CemeteryId }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>

<p>    
    @Html.ActionLink("Back to Search", "Index", "Search", null, new { @class = "btn btn-default" })
</p>
