﻿@model IEnumerable<HeritageAllianceApp.Models.Deceased>

@{
    ViewBag.Title = "Deceased";
    ViewBag.PageHead = "Search Results.";
    ViewBag.PageHeadSub = "Choose a deceased below.";
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationWithinRow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoneDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfBurial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkerSymbols)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CemeteryId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDeath)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationWithinRow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoneDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfBurial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkerSymbols)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CemeteryId)
        </td>*@
        <td>           
            @Html.ActionLink("Details", "Details", "Deceased", new { id = item.DeceasedId }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Search", "Index", "Search", null, new { @class = "btn btn-default" })
</p>
