﻿@using HeritageAllianceApp.Models

@{
    ViewBag.Title = "Search";
    ViewBag.PageHead = "Search.";
    ViewBag.PageHeadSub = "Enter the info you wish to search for and press submit.";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here is the Heritage Alliance database search engine</h1>
                <br />
                <h2>Enter the info you wish to search for and press submit.</h2>
                <h3>Note:  At this time, the search engine will only allow searches on a single record type.</h3>
            </hgroup>
        </div>
    </section>
}*@

<div>
    <h2>Cemetery</h2>
    <fieldset>
        <div>
            @using (Html.BeginForm("Cemeteries", "Search"))
            {
                <h3>Cemetery Name</h3>
                @Html.TextBox("cname")
                <br /><br />
                <p><input class="btn btn-primary" type="submit" value="Search Cemeteries" style="float:left" /></p>
            }
        </div>
    </fieldset>
</div>

<div>
    <h2>Deceased</h2>
    <fieldset>
        <div>
            @using (Html.BeginForm("Deceased", "Search"))
            {
                <h3>First Name</h3>
                @Html.TextBox("fname")
                <h3>Middle Name</h3>
                @Html.TextBox("mname")
                <h3>Last Name</h3>
                @Html.TextBox("lname")
                <h3>Date of Birth</h3>
                @Html.TextBox("dob")
                <h3>Date of Death</h3>
                @Html.TextBox("dod")
                <br /><br />
                <p><input class="btn btn-primary" type="submit" value="Search Deceased" style="float:left" /></p>
            }
        </div>
    </fieldset>
</div>
<p>
    <br />
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
</p>

