﻿@model HeritageAllianceApp.Models.FamilyMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FamilyMember</legend>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.Relationship)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Relationship)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.FirstName)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.MiddleName)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.MiddleName)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.LastName)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.DateOfBirth)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.DateOfDeath)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.DateOfDeath)
        </div>
    </div>    

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Deceased.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deceased.FirstName)
    </div>*@
</fieldset>
<p>    
    @Html.ActionLink("Back to Deceased Details", "Details", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</p>
