﻿@model HeritageAllianceApp.Models.FamilyMember

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FamilyMember</legend>

        @Html.HiddenFor(model => model.FamilyMemberId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Relationship)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Relationship)
            @Html.ValidationMessageFor(model => model.Relationship)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfDeath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfDeath)
            @Html.ValidationMessageFor(model => model.DateOfDeath)
        </div>

        <div class="editor-label float-left">
            <p>@Html.LabelFor(model => model.DeceasedId, "Deceased")</p>
        </div>
        <br />
        <br />
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("DeceasedId", (SelectList)ViewBag.DeceasedId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.DeceasedId)
        </div>

        <p>
            <input type="hidden" value="@ViewBag.did" id="did" />
            <input class="btn btn-primary" type="submit" value="Save" style="float:left" />
        </p>
    </fieldset>
}

<div>
    <br />
    @Html.ActionLink("Back to Deceased Details", "DetailsAdmin", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
