﻿@model HeritageAllianceApp.Models.Related

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Related</legend>

        @Html.HiddenFor(model => model.RelatedId)

        <div class="editor-label float-left">
            <p>@Html.LabelFor(model => model.DeceasedId, "Deceased")</p>
        </div>
        <br />
        <br />
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("DeceasedId", (SelectList)ViewBag.DeceasedId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.DeceasedId)
        </div>
        <br />
        <br />
        <br />
        <div class="editor-label float-left">
            <p>@Html.LabelFor(model => model.DeceasedRelativeId, "Deceased Relative")</p>
        </div><br /><br />
        <div class="editor-field">
            <p class="col-xs-3">
                @Html.DropDownList("DeceasedRelativeId", (SelectList)ViewBag.DeceasedId, new { @class = "form-control" })
            </p>
            @Html.ValidationMessageFor(model => model.DeceasedRelativeId)
        </div>
        <br />
        <br />
        <br />
        <div class="editor-label float-left">
            @Html.LabelFor(model => model.Relationship)
        </div>
        <br />
        <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.Relationship)
            @Html.ValidationMessageFor(model => model.Relationship)
        </div>

        <p>
            <input type="hidden" id="did" value="@ViewBag.did" />
            <br />
            <input class="btn btn-primary" type="submit" value="Create" style="float:left" />
        </p>
    </fieldset>
}

<div>
    <br />
    @Html.ActionLink("Back to Deceased Details", "DetailsAdmin", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
