﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Heritage Alliance (Green Team)</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">Heritage Alliance</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </div>
    </nav>*@
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#HANavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">Heritage Alliance</span>
                    </div>
                    <div>
                        <div class="collapse navbar-collapse" id="HANavbar">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("All Cemeteries", "Cemeteries", "Home")</li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Browse
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @*<li>@Html.ActionLink("By Name", "Index", "Cemetery")</li>
                                        <li>@Html.ActionLink("By Location", "Index", "Location")</a></li>*@ 
                                        <li>@Html.ActionLink("By City", "CityList", "Location")</a></li>
                                        <li>@Html.ActionLink("By County", "CountyList", "Location")</a></li>
                                        <li>@Html.ActionLink("Map", "MapList", "Location")</a></li>                                             
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Advanced Search", "Index", "Search")</a></li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Admin Panel", "Admin", "Home")</li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            @*<div class="content-wrapper">
                <div class="float-left">
                    @{ //<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                        string imgpath = "<img src=" + AppDomain.CurrentDomain.BaseDirectory + "Images/heritagelogoblack.png";

                    }
                    <p class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/Images/heritagelogoblack.png")" height="80" width="153" />
                        </a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>*@
            <div class="wide">                
            </div>
        </header>
        <div id="body"> 
            <div class="page-header">
                <h1>@ViewBag.PageHead <small>@ViewBag.PageHeadSub</small></h1>
            </div>           
            @*@RenderSection("featured", required: false)*@
            @*<section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>*@
            <section class="content-wrapper main-content ">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <h6>&copy; @DateTime.Now.Year - Heritage Alliance (Green Team)</h6>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Styles.Render("~/Content/override")
        @RenderSection("scripts", required: false)
    </body>
</html>
