﻿@model HeritageAllianceApp.Models.Record

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Record</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEntered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEntered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnteredBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnteredBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deceased.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deceased.FirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="hidden" value="@ViewBag.did" id="did" />
        <input class="btn btn-primary" type="submit" value="Delete" style="float:left" />
        @Html.ActionLink("Back to Deceased Details", "DetailsAdmin", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
    </p>
}
