﻿@model HeritageAllianceApp.Models.Record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Record</legend>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.RecordType)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.RecordType)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.RecordDescription)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.RecordDescription)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.DateEntered)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.DateEntered)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.EnteredBy)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.EnteredBy)
        </div>
    </div>      

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Deceased.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deceased.FirstName)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Back to Deceased Details", "Details", "Deceased", new { id = ViewBag.did }, new { @class = "btn btn-default" })
</p>
